@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Raleway");

*{
  box-sizing: border-box;
}

/*carousels and navbar*/
.navbar-inverse{
  background-color: transparent;
  border-color: transparent;
}

.navbar-inverse .navbar-brand{
  color:aliceblue;
  font-size: 40px;
  padding: 40px 15px;
  font-weight: 940;
}

.nav .navbar-nav .navbar-right{
  margin: 25px 0;
}

.navbar-inverse .navbar-nav>li>a{
  color:#fff;
  text-transform: uppercase;
}

body{
  padding:1em;
  font-family: 'Poppins', sans-serif;
}

header .carousel-inner .item{
  height:100vh;
}

.banner{
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.carousel-caption{
  padding-bottom: 245px;
  font-family: 'Poppins';
}

.carousel-caption h2{
  font-size: 70px;
  text-transform:uppercase;
  font-weight: bold;
}

.carousel-caption h2 span{
  color: orange;
}


.carousel-caption a{
  background: #EDBB00;
	padding: 15px 35px;
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 25px;
}

.carousel-indicators .active{
  background-color: #EDBB00;
  border-color: #EDBB00;
}

.carousel-control.right{
  background-image: none;
}

.carousel-control.left{
  background-image: none;
}

/* responsive css*/
@media only screen and (min-width: 768px)and (max-width: 990px){
  .carousel-caption {
		padding-bottom: 350px;
	}
	.carousel-caption h2 {
		font-size: 50px;
	}
}


@media only screen and (max-width: 768px) {
	.navbar-inverse .navbar-brand {
		font-size: 30px;
		padding: 20px 15px;
	}
	.navbar-collapse {
		background: rgba(0, 0, 0, 0.5);
	}
}